<?xml version="1.0" encoding="UTF-8"?>
<book-list>
<book 
name="Земля Королей. Червовый том" 
isbn="978-5-6047212-0-9" 
count="5"
/>

<book 
name="Крысиный остров и другие истории" 
isbn="978-5-389-19082-5" 
count="3"
/>

<book 
name="Социально-экономическая система туризма и гостеприимства. Методология исследования. Монография"
isbn="978-5-392-35974-5" 
count="2"
/>

<book 
name="Аудит и комплаенс. Закон, доктрина, практика. Монография" 
isbn="978-5-392-36124-3" 
count="10"
/>
<book 
name="Живи. Планируй. Пили сторис. Обучающий планер" 
isbn="978-5-04-161315-0" 
count="22"
/>
<book 
name="Красная кнопка для сайта" 
isbn="978-5-600-03135-7" 
count="1"
/>
<book 
name="Социально-экономическая система туризма и гостеприимства. Методология исследования. Монография" 
isbn="978-5-392-35974-5" 
count="13"
/>
<book 
name="История ИП. История взлетов и падений одного российского индивидуального предпринимателя" 
isbn="978-5-04-154773-8" 
count="2"
/>
<book 
name="ОХОТА ЖИТЬ. М. О. (АЗБУКА-КЛАССИКА)" 
isbn="978-5-389-13187-3" 
count="5"
/>
<book 
name="ВАШ СЫН И БРАТ. М. О. (АЗБУКА-КЛАССИКА)" 
isbn="978-5-389-20062-3" 
count="8"
/>
<book 
name="МЕДЕЯ И ЕЕ ДЕТИ. (ЛЮДМИЛА УЛИЦКАЯ. ИЗБРАННОЕ)" 
isbn="978-5-17-145643-6" 
count="9"
/>
<book 
name="ПЛЯС НИГДЕ. (КЛАССНОЕ ЧТЕНИЕ)" 
isbn="978-5-17-135594-4" 
count="6"
/>
<book 
name="БУДНИ ХИРУРГА. ЧЕЛОВЕК СРЕДИ ЛЮДЕЙ. (КЛАССИКА МЕДИЦИНСКОЙ ЛИТЕРАТУРЫ)" 
isbn="978-5-17-145938-3" 
count="3"
/>
<book 
name="ПЕРЕХОДНЫЙ ВОЗРАСТ. (ЛУЧШИЙ ФАНТАСТ ЕВРОПЫ)" 
isbn="978-5-17-112777-0" 
count="8"
/>
<book 
name="СИБИРЬ. СЧАСТЬЕ ЗА ГОРАМИ. (РУССКИЙ РАССКАЗ)" 
isbn="978-5-17-134774-1" 
count="1"
/>
<book 
name="ЗАСТАВЬ МЕНЯ ВЛЮБИТЬСЯ. (СОКОЛ: ЛУЧШИЕ КНИГИ)" 
isbn="978-5-17-139495-0" 
count="4"
/>
<book 
name="ДУБРОВСКИЙ. ПИКОВАЯ ДАМА. ЕГИПЕТСКИЕ НОЧИ. М. О. (АЗБУКА-КЛАССИКА)" 
isbn="978-5-389-19107-5" 
count="6"
/>
<book 
name="ОСТАНОВИСЬ, МГНОВЕНЬЕ. .. М. О. (АЗБУКА)" 
isbn="978-5-389-19976-7" 
count="6"
/>
<book 
name="ДАВАЙ НИКОМУ НЕ СКАЖЕМ. (СНОВА ПРО ЛЮБОВЬ)" 
isbn="978-5-04-120421-1" 
count="2"
/>
<book 
name="ПОВЕЛИТЕЛЬ ВОЙН. (THE BIG BOOK. ИСТОРИЧЕСКИЙ РОМАН)" 
isbn="978-5-389-19675-9" 
count="6"
/>
<book 
name="ЧИНГИСХАН. БАТЫЙ. К ПОСЛЕДНЕМУ МОРЮ. (ВСЕ В ОДНОМ ТОМЕ)" 
isbn="978-5-17-146153-9" 
count="5"
/>
<book 
name="ЮРИЙ ДОЛГОРУКИЙ. (КЛАССИКА ИСТОРИЧЕСКОЙ ЛИТЕРАТУРЫ. ЛУЧШЕЕ)" 
isbn="978-5-17-145503-3" 
count="7"
/>
<book 
name="ЮРИЙ ДОЛГОРУКИЙ. (ГЛАВНЫЙ СЛАВЯНСКИЙ БЕСТСЕЛЛЕР)" 
isbn="978-5-17-144788-5" 
count="2"
/>
<book 
name="ПРЕКРАСА. ПОСЛЕДНЯЯ ЗАРЯ. (ИСТОРИЧЕСКИЕ РОМАНЫ ЕЛИЗАВЕТЫ ДВОРЕЦКОЙ)" 
isbn="978-5-04-157132-0" 
count="2"
/>
<book 
name="БИТВА ЗА РИМ. (THE BIG BOOK, ИСТОРИЧЕСКИЙ РОМАН)" 
isbn="978-5-389-13496-6" 
count="7"
/>
<book 
name="СЕДМИЦА ТРЕХГЛАЗОГО" 
isbn="978-5-17-082573-8" 
count="2"
/>
<book 
name="ВЛАСТЕЛИН СЕВЕРА. ПЕСНЬ МЕЧА" 
isbn="978-5-389-11780-8" 
count="23"
/>
<book 
name="ВЫБОР" 
isbn="978-5-98124-569-5" 
count="3"
/>
<book 
name="СТРАШНЫЙ СОВЕТНИК. ОБОРОТНИ ИНДИИ. ПУТЕШЕСТВИЕ В СТРАНУ СЛОНОВ, ЙОГОВ И КАМАСУТРЫ" 
isbn="978-5-906789-61-7" 
count="1"
/>
<book 
name="ЦАРСКАЯ КАРУСЕЛЬ. ВОЙНА С КУТУЗОВЫМ. (РОССИЯ ДЕРЖАВНАЯ)" 
isbn="978-5-4484-0757-4" 
count="5"
/>
</book-list>